DEV_ADMIN_EMAIL=
DEV_ADMIN_PASSWORD=
DEV_ADMIN_TOTP_SECRET=JBSWY3DPEHPK3PXP
SESSION_SECRET=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

SENDGRID_API_KEY=

LIFEMARKED_WEBHOOK_URL=
